* {
    font-family: sans-serif;
    box-sizing: border-box;
}
.centering-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    
}
.main-body {
    background-color: gray;
    min-height:70vh;
    min-width:50vw;
    border: 5px solid black;
    border-radius: 50px;
    margin:0;
   
}
 
.screen {
    background-color: whitesmoke;
    min-height:10vh;
    min-width: 20vw;
    margin: 1rem;
    border-radius: 30px;
    display: flex;
    
    align-items: center;
}

.ce {
    background-color: lightsalmon;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    min-height: 85%;
    min-width: 15%;
    margin:10px 0 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 2rem;
    border: 5px solid salmon;

}


.screen-numbers {
    height:80%;
    width:80%;
    background-color: lightblue;
    border-top:5px solid gray;
    border-bottom:5px solid gray;
    border-right:5px solid gray;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

    display:flex;
    justify-content: end;
    align-items: center;
    

}

.number-container {
    min-height:20vh;
    min-width: 30vw;
    background-color: whitesmoke;
    margin-top:1rem;
    padding:10px;
    border-radius: 20px;
    display:flex;

    justify-content: space-evenly;

    
}

.number {
    width:6rem;
    height: 6rem;
    background-color: aquamarine;
    border: 3px solid gray;
    border-radius: 50px;
    font-size:2rem;
    position: relative;

}

#equal {
    background-color:greenyellow;
}

.first-row {
    display:flex;
    flex-direction: column;
    gap:10px;
  

}

.second-row {
    display:flex;
    flex-direction: column;
    gap:10px;

}

.third-row {
    display:flex;
    flex-direction: column;
    gap:10px;
 
 
}

.bottom {
    display:flex;
    justify-content: space-around;
    align-items: center;

}

.operator-container {
    min-height: 30vh;
    min-width: 14vw;
    background-color: whitesmoke;
    display:flex;
    margin-top:1rem;
    
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap:10px;
    border-radius:20px;
    padding:10px;
 
}

.operator {
    width:6rem;
    height: 6rem;
    background-color: greenyellow;
    border: 3px solid gray;
    border-radius: 50px;
    font-size:2rem;
}

.calc-number {
    font-size:2rem;
    padding-right:1rem;
    
  
}